<section class=" block  container">
    <header class="block__header">
        <h2 class="block__heading"> Heding</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, similique. Numquam quo totam pariatur in odit.</p>
    </header>
    <div style="width:30%; padding :4rem">
        <div class="card card--secondry  ">
            <header class="card__header"> card title </header>
            <div class="card__body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, pariatur totam ipsam accusantium cumque esse,
             possimus ea enim voluptates fugiat, earum veritatis soluta aliquid ullam porro quia. Id inventore neque vel.
             Quaerat tempora, blanditiis esse eaque dolorum qui commodi aut temporibus quos iste facilis.
        </div>
    </div>
</div>

</section>
<section class=" block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading"> Heding</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, similique. Numquam quo totam pariatur in odit.</p>
    </div>
</section>
