<div style="width:30%; padding :4rem">
    <div class="card card--secondry  ">
        <header class="card__header"> card title </header>
        <div class="card__body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, pariatur totam ipsam accusantium cumque esse,
             possimus ea enim voluptates fugiat, earum veritatis soluta aliquid ullam porro quia. Id inventore neque vel.
             Quaerat tempora, blanditiis esse eaque dolorum qui commodi aut temporibus quos iste facilis.
        </div>
    </div>
</div>
