<section class="block block--dark block--skewed-left hero">
    <div class=" container grid grid--1x2"> 
    <header class="hero__content block__header">
         <h1 class="block__heading"> clouds of hosting for pros </h1>
             <p class="hero__tagline"> Deploy your wep site in less than 60 seconds</p>
            <a class="btn btn--accent btn--stretched" href="">Get started</a>
    </header>
            <img  class="hero__image" src="images/banner.png" alt="">
        </div>
</section>
<script src="js/main.js"></script>