<section class="block container block-plans">
    <div class="grid grid--1x3" >
        <div class="plan ">
            <div style="width:110%; padding :2rem">
                <div class="card card--secondry  ">
                    <header class="card__header"> 
                        <h3 class="plan__name"> Entry</h3>  
                        <span class="plan__price">$14</span>  
                        <span class="plan__billing-cycle">/mounth</span>
                        <span class="Badge Badge--secondry Badg--small">10%off</span>
                        <span class="plan__description">East start on the cloud</span>  
                    </header>
                    <div class="card__body">
                        <ul class="list list--tick">
                            <li class="list__item">ultimate wep site</li>
                            <li class="list__item">ultimate band width</li>  
                            <li class="list__item">100 GB ssd storage</li>
                            <li class="list__item">3 GB RAM </li>
                        </ul>
                        <button class="btn btn--outline btn--block"> Buy Now</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="plan plan--popular">
            <div style="width:110%; padding :2rem">
                <div class="card card--primary  ">
                    <header class="card__header"> 
                        <h3 class="plan__name"> Entry</h3>  
                        <span class="plan__price">$14</span>  
                        <span class="plan__billing-cycle">/mounth</span>
                        <span class="Badge Badge--primary Badg--small">10%off</span>
                        <span class="plan__description">East start on the cloud</span>  
                    </header>
                    <div class="card__body">
                        <ul class="list list--tick">
                            <li class="list__item">ultimate wep site</li>
                            <li class="list__item">ultimate band width</li>  
                            <li class="list__item">100 GB ssd storage</li>
                            <li class="list__item">3 GB RAM </li>
                        </ul>
                        <button class="btn btn--primary btn--block"> Buy Now</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="plan ">
            <div style="width:110%; padding :2rem">
                <div class="card card--secondry  ">
                    <header class="card__header"> 
                        <h3 class="plan__name"> Entry</h3>  
                        <span class="plan__price">$14</span>  
                        <span class="plan__billing-cycle">/mounth</span>
                        <span class="Badge Badge--secondry Badg--small">10%off</span>
                        <span class="plan__description">East start on the cloud</span>  
                    </header>
                    <div class="card__body">
                        <ul class="list list--tick">
                            <li class="list__item">ultimate wep site</li>
                            <li class="list__item">ultimate band width</li>  
                            <li class="list__item">100 GB ssd storage</li>
                            <li class="list__item">3 GB RAM </li>
                        </ul>
                        <button class="btn btn--outline btn--block"> Buy Now</button>
                        </div>
                </div>
            </div>
        </div>
    </div>    
    </section>
