<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Pariatur ea dicta quia doloremque, at animi, voluptate cupiditate aliquam architecto totam iure.
          Quis debitis quibusdam ex nemo, repellendus voluptatem modi accusantium delectus error harum officia, molestias omnis odit 
          sapiente, qui suscipit provident? Hic, quisquam! Harum, ad?
        </p>
        <footer> 
            <div class="media">
                <div class="media__image">
                    <svg  class=" icon icon--primary quote__ line"data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 2">
                        <path fill="var(--color-primary)" d="M0 0h50v2H0z"/>
                      </svg>
                      
                </div>
                <div class="media__body">
                <h3 class="media__title">john smith</h3>    
            <p class="quote__organization"> ABC company</p>    
            </div>
            </div>
        </footer>
</blockquote>


