<section class="block">
    <header class="block__header">
        <h2> what our costumer are saying </h2>
        <p> Lorem ipsum dolor sit amet consectetur.</p>
    </header> 
    <div class="container">
        <body style="padding:5rem">
            <div class="card testimonial__image">
                <div class="grid grid--1x2"> 
                    <div class="testimonial__image">
                        <img  class="testimonial__image" src="images/testimonial.jpg" alt=" a happy smailling customer">
                        <span class="icon-container icon-container--accent">
                            <svg class="icon icon--white icon--small " version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="508.044px" height="508.044px" viewBox="0 0 508.044 508.044" style="enable-background:new 0 0 508.044 508.044;"
                                 xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938
                                        s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303
                                        C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"/>
                                    <path d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599
                                        c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371
                                        C266.175,352.426,266.169,352.475,266.169,352.536z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                        </span> 
          
                    </div>
                    <blockquote class="quote">
                      <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           Pariatur ea dicta quia doloremque, at animi, voluptate cupiditate aliquam architecto totam iure.
                            Quis debitis quibusdam ex nemo, repellendus voluptatem modi accusantium delectus error harum officia, molestias omnis odit 
                            sapiente, qui suscipit provident? Hic, quisquam! Harum, ad?
                          </p>
                          <footer> 
                              <div class="media">
                                  <div class="media__image">
                                      <svg  class=" icon icon--primary quote__ line"data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 2">
                                          <path fill="var(--color-primary)" d="M0 0h50v2H0z"/>
                                        </svg>
                                        
                                  </div>
                                  <div class="media__body">
                                  <h3 class="media__title">john smith</h3>    
                              <p class="quote__organization"> ABC company</p>    
                              </div>
                              </div>
                          </footer>
                  </blockquote>   
            </div>
          </div>
          </body>
    </div>
</section>